<div fxLayout="row">
  <div class="chip confirmed">
    <div class="title">
      Confirmed
    </div>
    <div class="count">
      {{ confirmed | number:'':'fr'}}
    </div>
  </div>
  <div class="chip death">
    <div class="title">
      Deaths
    </div>
    <div class="count">
      {{ deaths | number:'':'fr'}}
    </div>
    <div class="percent">
      ({{ (deaths/confirmed) | percent}})
    </div>
  </div>
  <div class="chip recovered">
    <div class="title">
      Recovered
    </div>
    <div class="count">
      {{ recovered | number:'':'fr'}}
    </div>
    <div class="percent">
      ({{ (recovered/confirmed) | percent}})
    </div>
  </div>
</div>
