@import '~src/styles/variables.scss';
:host {
  display: flex;
}
.chip {
  height: 150px;
  width: 150px;
  color: white;
  font-size: 20px;
  margin: 0 15px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  position: relative;
  .title {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 30px;
    height: 20px;
    font-size: 15px;
  }
  .count {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 65px;
    height: 20px;
    font-weight: bold;
  }
  .percent {
    font-size: 12px;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 90px;
    height: 20px;
    font-weight: bold;
  }
  &.death {
    background: $deaths-color;
  }
  &.recovered {
    background: $recovered-color;
  }
  &.confirmed {
    background: $confirmed-color;
  }
}
