@import '~src/styles/variables.scss';

.flag-container {
  height: 25px;
  width: 50px;
  img {
    height: 25px;
    width: 50px;
    object-fit: cover;
    margin: auto;
  }
}
.header {
  text-align: center;
}
.table-cell {
  border-top: solid 1px lightgray;
  font-weight: bold;
  text-align: center;
  &.selected {
    background: lightblue;
  }
  &:hover {
    cursor: pointer;
  }
  &:hover:not(.selected) {
    background: #FAFAFA;
  }
  .death {
    color: $deaths-color;
  }
  .recovered {
    color: $recovered-color;
  }
  .confirmed {
    color: $confirmed-color;
  }
}
