<div fxFlex fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center center" class="header">
    <div class="flag-container"></div>
    <div fxFlex>Country</div>
    <div fxFlex>Confirmed</div>
    <div fxFlex>Deaths</div>
    <div fxFlex>Recovered</div>
  </div>
  <cdk-virtual-scroll-viewport itemSize="26" fxFlex>
    <div *cdkVirtualFor="let item of latestData$ | async; trackBy: trackByUid"

    fxLayout="row" fxLayoutAlign="center center"
    class="table-cell" [class.selected]="item.selected" (click)="selectCountry(item.alpha2Code)">
      <div class="flag-container">
        <img [src]="item.flag" alt="Flag">
      </div>
      <div fxFlex>{{ item.countryOrRegion }}</div>
      <div fxFlex class="confirmed">{{ item.confirmed | number:'':'fr'}}</div>
      <div fxFlex class="death">{{ item.deaths | number:'':'fr'}}</div>
      <div fxFlex class="recovered">{{ item.recovered | number:'':'fr'}}</div>
      <!-- <div fxFlex>
        {{item.alpha2Code}}
      </div> -->
    </div>
  </cdk-virtual-scroll-viewport>
</div>
