<div fxFlex fxLayout="row">
  <div fxFlex fxLayout="column">
    <mat-card fxLayout="column" style="height: 244px;">
      <mat-card-header>
        <mat-card-title>Latest data</mat-card-title>
      </mat-card-header>
      <co19-covid-recap-data *ngIf="isCovidDataLoaded$ | async"
        [deaths]="totalDeaths$ | async"
        [confirmed]="totalConfirmed$ | async"
        [recovered]="totalRecovered$ | async">
      </co19-covid-recap-data>
    </mat-card>
    <mat-card fxFlex fxLayout="column">
      <mat-card-header>
        <mat-card-title>Latest data by countries</mat-card-title>
      </mat-card-header>
      <co19-covid-data-table *ngIf="latestData$ | async"  fxFlex></co19-covid-data-table>
    </mat-card>
  </div>
  <div fxLayout="row" fxFlex>
    <mat-card fxFlex fxLayout="column">
      <mat-card-header>
        <mat-card-title>World map</mat-card-title>
      </mat-card-header>
      <co19-covid-webmap fxFlex fxLayout="column"></co19-covid-webmap>
    </mat-card>
  </div>
</div>
